@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background: radial-gradient(#364155, #212540);
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
}

header {
  padding: 15px;
  display: grid;
  grid-template-columns: 100px 1fr 35px 35px 5px 130px;
}
.header__name {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  font-weight: 300;
}
.header__name-bot {
  color: #fbbc05;
  font-size: 20px;
  font-weight: 400;
}
.header__divider {
  width: 1px;
  height: 22px;
  background: rgba(255, 255, 255, 0.6);
}
.header__button {
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__button:hover {
  background: rgba(255, 255, 255, 0.2);
}
.header__block {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__page {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
  font-size: 25px;
}

.cards {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.cards__block {
  height: 134px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.cards__center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards__name {
  color: rgba(255, 255, 255, 0.6);
  font-size: 19px;
  padding-top: 20px;
}
.cards__num {
  color: rgba(255, 255, 255, 0.9);
  font-size: 40px;
  padding-bottom: 20px;
}

.cards__block:hover .cards__name,
.cards__block:hover .cards__num {
  color: #fbbc05;
}

.today {
  margin: 0px 20px 20px 20px;
  background: rgba(0, 0, 0, 0.2);
  height: 400px;
  border-radius: 10px;
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
